.download-wrapper {
  background: var(--bg-300);
  border-radius: 6px;
  padding: 18px;
}

.download-wrapper > h3 {
  margin: auto;
  margin-bottom: 20px;
}

.secondary-button > a {
  text-decoration: none;
  color: #fff;
}

.confirm-password-wrapper {
  background: var(--bg-300);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-password-wrapper > h4 {
  margin-bottom: 20px;
}

.confirm-password-wrapper > form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
}

.confirm-password-wrapper > form > input {
  margin-block: 1rem;
}
