.dropzone {
  border: 4px dashed lightgray;
  border-radius: 4px;
  min-height: 30vh;
  padding: 1rem;
  background: var(--bg-300);
}

.drop {
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}

.file {
  width: 160px;
  background: var(--secondary-300);
  border-radius: 6px;
  margin: 4px;
}

.file > p {
  margin: 10px;
}
