.createLinkFormWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.createLinkFormWrapper > button {
  margin-top: 8px;
  width: 200px;
}

.labelGroup {
  margin-right: 8px;
}
