.create-link-form-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.label-group {
  margin-right: 8px;
}

.create-link-form-wrapper > button {
  margin-top: 8px;
  width: 200px;
}
