.App {
  text-align: center;
  width: 100%;
}

.App-content {
  width: 85%;
  min-height: 100vh;
  display: inline-block;
  margin: 0 auto;
  padding-block: 1rem;
}

.App-main {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  min-height: 82vh;
  margin-bottom: auto;
}
