.App {
  text-align: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 22px;
}

.App-main {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  min-height: 82vh;
  margin-bottom: auto;
}
