.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.App-content {
  width: 82%;
  margin: auto;
  padding-block: 1rem;
}

.App-main {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-500);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  min-height: 78vh;
  height: 100%;
}

.App-wrapper {
  width: 92%;
  margin: auto;
}
