@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('/assets/nunito-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url('/assets/nunito-v20-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: url('/assets/nunito-v20-latin-900.woff2') format('woff2');
}

:root {
  color-scheme: dark;
  --fs: 16px;
  --theme-contrast-0: #121212;
  --theme-body-bg: #1e2535;
  --theme-body-txt: #f3f3f3;
  --color-primary: #2f3b52;
  --color-secondary: #51617f;
  --brand-color_1: #0271c1;
  --brand-color_2: #8984b4;
  --brand-color_3: #9abce4;
  --brand-color_4: #bf9ae4;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--theme-body-bg);
  color: var(--theme-body-txt);
  font-size: var(--fz);
  font-family: 'Nunito', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select,
input {
  padding: 4px;
  border-radius: 4px;
  border: none;
}

select:hover {
  cursor: pointer;
}

.primary-button {
  padding-block: 10px;
  padding-inline: 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
}

.primary-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
