@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('/assets/nunito-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url('/assets/nunito-v20-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: url('/assets/nunito-v20-latin-900.woff2') format('woff2');
}

:root {
  --fs: 16px;
  --theme-contrast-0: #121212;
  --theme-body-bg: #242e42;
  --theme-body-txt: #f3f3f3;
  --color-primary: #51617f;
  --brand-color_1: #0271c1;
  --brand-color_2: #7671a0;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--theme-body-bg);
  color: var(--theme-body-txt);
  font-size: var(--fz);
  font-family: 'Nunito', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
