.summary-wrapper {
  text-align: left;
  background: var(--bg-300);
  margin-top: 32px;
  border-radius: 6px;
  padding: 12px;
}

.summary-wrapper > a {
  color: var(--secondary-300);
  font-size: 1rem;
  text-decoration: none;
}

.summary-wrapper > a:hover {
  opacity: 0.6;
}

.summary-wrapper > h3 {
  margin: auto;
  color: var(--secondary-300);
}

.summary-wrapper > p > span {
  color: var(--secondary-300);
}
