.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-figure-ref-logo {
  width: 40px;
}

.header-figure-ref-logo:hover {
  cursor: pointer;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.header-login-button {
  padding-block: 8px;
  padding-inline: 25px;
  text-decoration: none;
  background: var(--brand-color_1);
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 8px;
}
