.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-figure-ref-logo {
  width: 40px;
}

.header-figure-ref-logo:hover {
  cursor: pointer;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.login-color-button {
  background: var(--brand-color_1);
}

.logout-color-button {
  background: var(--brand-color_2);
}
