.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 40px;
  height: 40px;
}

.headerAuthenticated {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerAuthenticated > span {
  margin-right: 10px;
  background: var(--primary-700);
  padding-inline: 1rem;
  padding-block: 8px;
  border-radius: 20px;
}
