.footer-container {
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.creator-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.creator-row > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12px;
  padding-block: 1px;
  margin-left: 8px;
  background: #fff;
  font-weight: 700;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
}

.creator-row > a > span {
  margin-right: 3px;
}

.creator-row > a:hover {
  opacity: 0.6;
}

.network-links-row > a {
  color: #fff;
  text-decoration: none;
}

.network-links-row > a:hover {
  text-decoration: underline;
}

.separator-links {
  padding-inline: 12px;
}
