.footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.creatorRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.creatorRow > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12px;
  padding-block: 1px;
  margin-left: 8px;
  background: #fff;
  font-weight: 700;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
}

.creatorRow > a > span {
  margin-right: 3px;
}

.creatorRow > a:hover {
  opacity: 0.6;
}

.networkLinksRow > a {
  color: #fff;
  text-decoration: none;
}

.networkLinksRow > a:hover {
  text-decoration: underline;
}

.separatorLinks {
  padding-inline: 12px;
}
