.login-msg-container {
  padding-top: 20px;
  background-color: white;
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.login-form {
  width: 100%;
  margin: auto;
  background-color: var(--color-secondary);
}

.login-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1.5rem;
}

.login-title > span {
  font-weight: 900;
  font-size: 2rem;
  margin-right: 12px;
}

.login-icon {
  width: 40px;
  height: 40px;
}
