.url-wrapper {
  background: var(--bg-300);
  padding: 12px;
  border-radius: 6px;
}

.url-wrapper > p {
  font-weight: 700;
}

.link-wrapper {
  position: relative;
}

.link-wrapper > pre {
  overflow: auto;
  padding: 1rem;
  background: var(--black);
  border-radius: 6px;
}

.copy-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
}

.link-wrapper:hover .copy-button {
  display: inline-block;
  margin-right: 5px;
}

.copy-button:hover {
  cursor: pointer;
}
