.urlWrapper {
  background: var(--bg-300);
  padding: 12px;
  border-radius: 6px;
}

.urlWrapper > p {
  font-weight: 700;
}

.linkWrapper {
  position: relative;
}

.linkWrapper > pre {
  overflow: auto;
  padding: 1rem;
  background: var(--black);
  border-radius: 6px;
}

.copyButton {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
}

.linkWrapper:hover .copyButton {
  display: inline-block;
  margin-right: 5px;
}

.copyButton:hover {
  cursor: pointer;
}
